.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 9rem;
}

.portfolio span:nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
  margin-top: 4rem;
}

.portfolio span:nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
}

.portfolio .swiper {
  overflow: visible !important;
}

.p-slider {
  margin-top: 4rem;
  width: 100%;
  height: 16rem;
}

.portfolio img {
  width: 20rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 18px;
}

.portfolio .swiper-pagination-bullet {
  background-color: var(--orange);
}

.portfolio .swiper-pagination-bullet-active {
  background: var(--orange);
}

@media screen and (min-width: 320px) {
  .portfolio {
    margin-top: 2rem;
    justify-content: flex-start;
  }

  .portfolio span:nth-child(1),
  .portfolio span:nth-child(2) {
    font-size: 2rem;
  }
  .p-slider {
    height: 13rem;
  }

  .portfolio img {
    width: 16rem;
  }
}
