.card {
  width: 10rem;
  height: 14rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--orangeCard);
  border-radius: 1.5rem;
  padding: 0 1rem 1.5rem 1rem;
  margin: 2rem 3rem;
}

.card img {
  transform: scale(0.6);
  margin-bottom: -2rem;
}

.card span:nth-of-type(1) {
  font-weight: bold;
  font-size: 1rem;
}

.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 0.8rem;
}

.c-button {
  background: white;
  box-shadow: 0 19x 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #5290fd;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .card {
    margin: 3rem 0.5rem;
    padding: 0 0.5rem 1rem;
  }
}
