.card {
  width: 12rem;
  height: 14rem;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 7px solid var(--orangeCard);
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.12);
  border-radius: 1.5rem;
}

.card:hover {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.17);
  transition: all 0.3s ease-in-out;
}

.card span:nth-of-type(1) > * {
  font-size: 2.5rem;
  color: var(--orange);
}
.card span:nth-of-type(2) {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.card span:nth-of-type(3) {
  color: var(--gray);
  font-size: 0.8rem;
}

.c-button {
  background: white;
  box-shadow: 0 19px 60px rgba(11, 13, 14, 0.3);
  border-radius: 0.5rem;
  border: 1px solid white;
  width: 6rem;
  height: 2rem;
  padding: 10px;
  font-size: 0.68rem;
  font-weight: bold;
  color: #5290fd;
  cursor: pointer;
}

.c-button:hover {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  color: #4586f7;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

