.n-wrapper {
  height: 4rem;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-wrapper.fixed {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--skyblue);
  box-shadow: var(--boxShadow);
  z-index: 99;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-links ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-right: 2rem;
}

.n-links ul li:hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .n-wrapper {
    height: 4rem;
    margin: 0 0.8rem;
    position: relative;
  }

  .n-wrapper.fixed {
    padding: 0 0.8rem;
  }

  .n-links {
    display: none;
  }

  .n-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .n-links-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    position: absolute;
    background: var(--skyblue);
    height: 100vh;
    top: -55%;
    right: -5%;
    gap: 1.5rem;
    padding: 9rem 2.5rem;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }

  .n-links-mobile ul li {
    color: var(--black);
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .n-wrapper {
    height: 4rem;
    margin: 0 1.5rem;
  }

  .n-wrapper.fixed {
    padding: 0 1.5rem;
  }

  .n-links {
    display: none;
  }

  .n-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .n-links-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    position: absolute;
    background: var(--skyblue);
    height: 100vh;
    top: -3%;
    right: 0%;
    gap: 1.7rem;
    padding: 10rem 3.5rem;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }

  .n-links-mobile ul li {
    color: var(--black);
    font-size: 1.3rem;
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .n-wrapper {
    margin: 0 3rem;
    /* height: 6rem; */
  }

  .n-wrapper.fixed {
    padding: 0 3rem;
  }

  .n-links {
    display: flex;
  }

  .n-links ul {
    margin: 0;
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .n-wrapper {
    margin: 0 4rem;
  }

  .n-wrapper.fixed {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1080px) {
  .n-links ul {
    margin-right: 2rem;
  }
  .n-button {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .n-wrapper {
    height: 4rem;
    margin: 0 5rem;
  }

  .n-wrapper.fixed {
    padding: 0 5rem;
  }
}
