.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

.n-left {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-list {
  flex: 10;
}

.n-list ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
}

.n-list ul li:hover {
  cursor: pointer;
  color: var(--orange);
}

.n-button {
  flex: 2;
}

@media screen and (min-width: 320px) {
  .n-wrapper {
    margin: 0 0.5rem;
    display: block;
  }

  .n-left {
    justify-content: space-between;
  }

  .n-right {
    display: none;
  }
}
