.n-wrapper {
  height: 4rem;
  padding: 1rem 0;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-wrapper.fixed {
  margin: 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a89e3;
  box-shadow: var(--boxShadow);
  z-index: 99;
}

.n-wrapper.fixed .n-links li,
.n-wrapper.fixed .n-name {
  color: white;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-links ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-right: 2rem;
  transition: all 0.3s;
}

.n-links ul li:hover {
  color: var(--orange);
  cursor: pointer;
  transition: all 0.3s;
}

@media screen and (max-width: 576px) {
  .n-wrapper {
    height: 4rem;
    margin: 0 0.8rem 1rem 0.8rem;
    padding: 1rem 0;
    position: relative;
  }

  .n-wrapper.fixed {
    padding: 0.8rem;
  }

  .n-links {
    display: none;
  }

  .n-links-mobile {
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    right: 0;
    background-color: #1a89e3;
    color: white;
    text-align: center;
    z-index: 11;
    animation: slideIn 0.3s linear;
  }
  .n-links-mobile ul {
    padding: 1rem;
    margin: 6rem auto;
  }
  .n-links-mobile ul li {
    list-style: none;
    line-height: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.1rem 0.2rem;
    transition: all 0.3s;
  }

  .n-links-mobile ul li:hover {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 0.5rem;
    padding: 0.1rem 0.2rem;
    transition: all 0.3s;
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .n-wrapper {
    height: 4rem;
    margin: 0 0.8rem;
    position: relative;
  }

  .n-wrapper.fixed {
    padding: 0 0.8rem;
  }

  .n-links {
    display: none;
  }

  .n-links-mobile {
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    right: -1rem;
    background-color: #1a89e3;
    color: white;
    text-align: center;
    z-index: 11;
    animation: slideIn 0.3s linear;
  }
  .n-links-mobile ul {
    padding: 1rem;
    margin: 6rem auto;
  }
  .n-links-mobile ul li {
    list-style: none;
    line-height: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.1rem 0.2rem;
    transition: all 0.3s;
  }

  .n-links-mobile ul li:hover {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 0.5rem;
    padding: 0.1rem 0.2rem;
    transition: all 0.3s;
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .n-wrapper {
    margin: 0 3rem;
  }

  .n-wrapper.fixed {
    padding: 0 3rem;
  }

  .n-links {
    display: flex;
  }

  .n-links ul {
    margin: 0;
  }

  .n-button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .n-wrapper {
    margin: 0 4rem;
  }

  .n-wrapper.fixed {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1080px) {
  .n-links ul {
    margin-right: 2rem;
  }
  .n-button {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .n-wrapper {
    height: 4rem;
    padding: 1rem 0;
    margin: 0 5rem;
  }

  .n-wrapper.fixed {
    padding: 0 5rem;
  }
}

@keyframes slideIn {
  from {
    transform: translate(100%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}
