.intro {
  display: flex;
  margin: 10rem 3rem;
}

.i-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 1rem;
  margin-top: 1rem;
}

.i-button {
  width: 6rem;
}

.i-icons {
  margin-top: 2.5rem;
}

.i-icons img {
  transform: scale(0.6);
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right :nth-of-type(1) {
  transform: scale(0.7);
  top: -9%;
  left: 5%;
}

.i-right :nth-of-type(2) {
  top: -4.6rem;
  left: 3rem;
  transform: scale(0.7);
}

.i-right :nth-of-type(3) {
  width: 24.4rem;
  top: -9rem;
  left: 10rem;
}

@media screen and (max-width: 460px) {
  .intro {
    transform: scale(0.9);
    flex-direction: column;
    gap: 7rem;
    margin: 1rem -0.5rem;
  }

  .i-icons {
    display: none;
  }

  .i-right {
    transform: scale(0.8);
    left: -7.7rem;
    top: -4rem;
  }
}
