.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.i-left .i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 1rem;
  margin-top: 1rem;
}

.i-button {
  width: 6rem;
}

.i-icons {
  margin-top: 2.5rem;
}

.i-icons img {
  transform: scale(0.6);
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
}

.i-right :nth-of-type(1) {
  transform: scale(0.7);
  top: -4rem;
  right: 9%;
}

.i-right :nth-of-type(2) {
  transform: scale(0.7);
  top: -6rem;
  right: 0%;
}

.i-right :nth-of-type(3) {
  width: 24.4rem;
  top: -10.3rem;
  right: 7rem;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  z-index: -9;
  filter: blur(92px);
}

@media screen and (max-width: 576px) {
  .intro {
    margin: 4rem 0.5rem;
    flex-direction: column;
  }

  .i-name > :nth-child(2) {
    font-size: 2.5rem;
  }

  .i-icons {
    display: none;
  }

  .i-right {
    transform: scale(0.8);
    top: 5rem;
    left: 15rem;
  }

  .i-right :nth-of-type(1) {
    top: -4rem;
    right: 4rem;
  }
}

@media screen and (min-width: 576px) {
  .intro {
    margin: 5rem 2rem;
    flex-direction: column;
  }

  .i-icons {
    display: none;
  }

  .i-right {
    top: 5rem;
    left: 19.5rem;
  }

  .i-right :nth-of-type(1) {
    top: -4rem;
    right: 4rem;
  }
}

@media screen and (min-width: 900px) {
  .intro {
    margin: 8rem 3rem;
    flex-direction: row;
  }

  .i-left .i-name > :nth-child(3) {
    width: 90%;
  }

  .i-right {
    transform: scale(0.9);
    top: -7rem;
    left: 10.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    margin: 8rem 4rem;
    flex-direction: row;
  }

  .i-name > :nth-child(3) {
    width: 90%;
  }

  .i-right {
    transform: scale(1);
    top: -6rem;
    left: 9.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .i-right {
    transform: scale(1);
    top: -4rem;
    left: 5.5rem;
  }
}
