.t-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.t-heading > * {
  font-size: 2.4rem;
  font-weight: bold;
}

.t-heading span:nth-of-type(2) {
  color: var(--orange);
}

.t-blur2 {
  background: var(--purple);
  left: 46rem;
  top: 14rem;
}

.t-blur1 {
  background: var(--skyblue);
  left: 5rem;
  top: 1rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: 0 0.5rem;
  width: 20rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
}

.testimonials img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 5px solid var(--orange);
  object-fit: cover;
}

.testimonials span {
  color: var(--gray);
}

.t-wrapper .swiper {
  width: 100%;
  overflow: visible !important;
  height: 21rem;
  margin: 2.5rem 0;
}

.t-wrapper .swiper-pagination-bullet {
  background-color: var(--orange);
}

.t-wrapper .swiper-pagination-bullet-active {
  background: var(--orange);
}

@media screen and (min-width: 320px) {
  .t-wrapper {
    margin-top: 5rem;
  }

  .t-heading > * {
    font-size: 2rem;
  }

  .testimonials {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    width: 80%;
  }

  .testimonials img {
    width: 3rem;
    height: 3rem;
  }

  .testimonials span {
    font-size: 0.6rem;
  }

  .t-wrapper .swiper {
    width: 100%;
    height: 18rem;
  }
}
