@font-face {
  font-family: Gumela;
  src: url(./fonts/Gumela\ Regular.otf);
  font-display: swap;
}
* {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
